/* Create styles for the most commonly used HTML elements */
@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  /* set the background to dark */
  background-color: #333;
  background-color: #333;
  /* set the text color to off-white */
  color: #eee;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

nav {
  display: none;
  position: fixed;
  bottom: 0;
  height: 4rem;
  background-color: #454545;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  left: 0;
  right: 0;
}

nav img {
  width: 1.5rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#guidelines i {
  opacity: .5;
  /* font-size: 1rem; */
}


hr {
  margin: 0;
  border-radius: 5px;
  border-color: #eeeeee1e;
}

h2 {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

p, li, a {
  line-height: 1.5;
  margin-top: 0;
}

a {
  color: inherit;
  font-weight: bold;
}
ol, ul {
  margin: 0
}

.calculator p {
  /* margin: 0 */
}

.calculator-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem 1rem;
  text-align: center;
}

.calculator-percentages {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  padding: 1rem
}

.calculator-percentages p {
  margin: 0;
  text-align: center
}

.calculator-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="number"]  {
  width: 80%;
  padding: .25rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  /* Add more CSS rules as needed */
}

input[type="range"] {
  width: 100%;
  margin: 0 .5rem;
  max-width: 100%;
  height: 1rem;
  background-color: #ddd;
  padding: 1rem 0;
  border-radius: 5px;
  box-sizing: border-box;
  /* display: block; */
  /* Add more CSS rules as needed */
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 480px;
  margin-top: 1rem;
}



/* style a table */
table {
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;
  width: 100%;
}

/* style a table */
.definitions th {
  border: 1px solid #eeeeee1e;
  text-align: left;
  padding: 8px;
}
.definitions td {
  border: 1px solid #eeeeee1e;
  text-align: left;
  padding: 8px;
}

.definitions tr:nth-child(even) {
  background-color: #dddddd1a;
}



/* style a table */
.calculator td, th {
  border: 1px solid #eeeeee1e;
  text-align: left;
  padding: 8px;
}

.calculator td {
  text-align: right;
}

/* style a table */
.calculator tr:nth-child(4) {
  background-color: #dddddd1a;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: .75rem;
  color: #aaa;
}

.definitions-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
}

.definitions-heading h2 {
  margin-bottom: 0;
}

#definitions-toggle {
  width: 2rem;
  cursor: pointer;
}

#definitions table {
 display: none;
}
.callout {
  font-size: 1.2rem;
  border: 1px solid rgb(196, 212, 237);
  background: rgb(196, 212, 237, .1);
}
.info {
  font-size: 1rem;
  border: 1px solid rgb(254, 235, 119);
  background: rgba(254, 235, 119, .1);
}

.callout, .info {
  text-align: center;
  margin-top: 1rem;
  border-radius: 12px;
  padding: 1rem
}

.callout p, .info p {
  margin: 0
}

.chat-container {
  border: 1px solid rgb(117, 117, 117);
  border-radius: 12px;
  padding: 1rem;
  background: rgba(117, 117, 117, .1);
}

.chat-container hr {
  margin-bottom: 1rem;
}

.chat-history {
  display: flex;
  flex-direction: column;

}

.chat-message {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid rgb(117, 117, 117);
  background-color: rgba(117, 117, 117, .1);
  padding: .5rem 1rem;
  border-radius: 8px;
  max-width: 65%;
  align-self: flex-start;
}

.chat-message.user {
  justify-content: flex-end;
  align-self: flex-end;
  background-color: rgba(117, 117, 117, .7);
}

#chat-form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: .5rem;
  max-width: 1024px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}

#chat-form #user-input {
  padding: .5rem 1rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 1rem;
  background-color: transparent;
  color: #FFF; 
  width: 100%
}

#chat-form #user-input:focus {
  outline: none; 
}

#chat-form #user-input::placeholder {
  color: #ddd; 
}

#chat-form button {
  padding: .5rem 1rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 1rem;
  background-color: #ddd;
  cursor: pointer;
  transition: all .3s ease-in-out;
  width: 100%;
  color: #333;
  /* width: auto; */
}

#chat-form button img {
  display: none;
}

.pulse {
  animation: pulse 2s  infinite;
  margin-bottom: 0;
}

quote {
  display: block;
  font-style: italic;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 1rem;
  border-left: 2px solid #ddd;
  padding: 1rem
}

quote:nth-of-type(even){
  border-left: none;
  border-right: 2px solid #ddd;
  text-align: right;
}
.quote-source:nth-of-type(even){
  
  text-align: right;
}

@media (max-width: 768px) {
  .calculator-inputs #wage-label {
    grid-area: a;
  }
  .calculator-inputs #hourly-wage {
    grid-area: b;
  }
  .calculator-inputs #range-label {
    grid-area: c;
  }
  .calculator-inputs #range {
    grid-area: d;
  }
  .calculator-inputs {
    grid-template-areas: "a" "b" "c" "d";
    grid-template-columns: 1fr;
  }
  #chat-form {
    border: 1px solid #ddd;
    border-radius: 20px;
  }
  #chat-form #user-input {
    border: none;
  }
  #chat-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0
  }
  #chat-form button span {
    display: none;
  }

  #chat-form button img {
    display:block;
    /* transform: scale(1.) */
  }

  nav {
    display: flex;
  }
 
}
@media (max-width: 480px) {
  .chat-container {
    /* uncomment these to remove border of chat on mobile screens */
    border: none;
    padding: 0rem;
    background: transparent;
  }

  .chat-container hr {
    display: none;
  }
  #chat-form {
    grid-template-columns: 4fr 1fr;
    gap: 0rem;
  }
  .chat-message {
    max-width: 95%;
  }

}

hr {
  display: none;
}

section {
  padding: 1rem;
  background-color: #333;
  border-radius: 16px;
  margin-bottom: 1rem
}

body {
  background-color: #1d1d1d;

}