/* Create styles for the most commonly used HTML elements */
body {
  font-family: 'Roboto Slab', serif;
  /* set the background to dark */
  background-color: #333;
  /* set the text color to off-white */
  color: #eee;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 1rem
}

* {
  /* outline: 1px solid rgba(128, 128, 128, 0.251) */
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#guidelines i {
  opacity: .5;
  /* font-size: 1rem; */
}


hr {
  margin: 0;
  border-radius: 5px;
  border-color: #eeeeee1e;
}

h2 {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

p, li, a {
  line-height: 1.5;
  margin-top: 0;
}

a {
  color: inherit;
  font-weight: bold;
}
ol, ul {
  margin: 0
}

.calculator p {
  /* margin: 0 */
}

.calculator-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem 1rem;
  text-align: center;
}

.calculator-percentages {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  padding: 1rem
}

.calculator-percentages p {
  margin: 0;
  text-align: center
}

.calculator-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="number"]  {
  width: 80%;
  padding: .25rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  /* Add more CSS rules as needed */
}

input[type="range"] {
  width: 100%;
  margin: 0 .5rem;
  max-width: 100%;
  height: 1rem;
  background-color: #ddd;
  padding: 1rem 0;
  border-radius: 5px;
  box-sizing: border-box;
  /* display: block; */
  /* Add more CSS rules as needed */
}

.image-container {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 480px;
  margin-top: 1rem;
}



/* style a table */
table {
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;
  width: 100%;
}

/* style a table */
.definitions th {
  border: 1px solid #eeeeee1e;
  text-align: left;
  padding: 8px;
}
.definitions td {
  border: 1px solid #eeeeee1e;
  text-align: left;
  padding: 8px;
}

.definitions tr:nth-child(even) {
  background-color: #dddddd1a;
}



/* style a table */
.calculator td, th {
  border: 1px solid #eeeeee1e;
  text-align: left;
  padding: 8px;
}

.calculator td {
  text-align: right;
}

/* style a table */
.calculator tr:nth-child(4) {
  background-color: #dddddd1a;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: .75rem;
  color: #aaa;
}

.definitions-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
}

.definitions-heading h2 {
  margin-bottom: 0;
}

.definitions-heading span {
  font-size: 2rem;
  cursor: pointer;
  font-weight: bold;
}

#definitions table {
 display: none;
}

.callout {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem
}

.callout p {
  margin: 0
}

@media (max-width: 768px) {
  .calculator-inputs #wage-label {
    grid-area: a;
  }
  .calculator-inputs #hourly-wage {
    grid-area: b;
  }
  .calculator-inputs #range-label {
    grid-area: c;
  }
  .calculator-inputs #range {
    grid-area: d;
  }
  .calculator-inputs {
    grid-template-areas: "a" "b" "c" "d";
    grid-template-columns: 1fr;
  }
}